.home {

  header, section{
    width:90%;
    margin:0 auto;
  }

  header{
    border-bottom:3px dashed @silver;

    h2{
      margin-top:2%;
    }

    p{
      margin-bottom:2%;
    }
  }

  .content-section {
    margin-top:2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

   
    
    .text-content {
      width: 48%;
      padding-right: 1%;
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      img {
        border-radius: 10px;
      }
    }

    @media @mobile{
      flex-direction:column;
      margin-top:4%;
      
      .text-content, .img-content{
        width:100%;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }

    @media @mobile{
      flex-direction:column-reverse;
    }
  }

  .content-destination {
    width: 75%;
    margin: 2% auto 30px;

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    .destination {
      width: 30%;
      margin-bottom: 30px;

      .btn{
        .buttonMake(@eastern-blue, white);

        &:hover{
          .colorFlip(@eastern-blue, white);
        }
      }
    }

    @media @mobile{
      flex-direction:column;

      .destination{
        width:100%;
      }
    }
  }

  .contact{
    .flex(column,center,center);
    font-size:1.6rem;
    width:100%;
    border-top: 3px dashed @silver;
    padding-top:2%;

    select, button{
      margin:2% 0%;
    }

    .text-label{
      margin-top:2%;
    }
    
    .input-container{
      .flex(row, flex-start, center);
      width:40%;

      label, input{
        width:100%;
        margin:1% 0%;
      }
    }

    button{
      .buttonMake(@eastern-blue, white);
      width:20%;
      padding:1% 0%;
        &:hover{
          .colorFlip(@eastern-blue, white);
        }
    }

    @media @mobile{
      .input-container{
        flex-direction:column;
      }
    }
  }
}// home